<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<array>
		<dict>
			<key>Text</key>
			<string>最近有什么电视看</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>天盛长歌不错啊</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>讲什么的</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>男人争天下</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>谁演的</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>陈坤</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>倪妮</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>怎么样 好看么</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>我觉得好看，坤哥的都好看</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>哈哈 我也喜欢坤哥</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>真的不错的  大家都说延禧攻略好看  可是我都没想要去看</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>女人争后宫之主</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>还是男人争天下有意思点  权谋比勾心斗角好点</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>主要还是坤哥帅 演技也不错</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>不过坤哥的台词 也是有意思了</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>出cai 宗正寺（zhong zeng si） hahaha</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>出cai 宗正寺（zhong zeng si） hahaha</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>出cai 宗正寺（zhong zeng si） hahaha</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>出cai 宗正寺（zhong zeng si） hahaha</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>出cai 宗正寺（zhong zeng si） hahaha</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>出cai 宗正寺（zhong zeng si） hahaha</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>出cai 宗正寺（zhong zeng si） hahaha</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>出cai 宗正寺（zhong zeng si） hahaha</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>出cai 宗正寺（zhong zeng si） hahaha</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>出cai 宗正寺（zhong zeng si） hahaha</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>出cai 宗正寺（zhong zeng si） hahaha</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>出cai 宗正寺（zhong zeng si） hahaha</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>出cai 宗正寺（zhong zeng si） hahaha</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>出cai 宗正寺（zhong zeng si） hahaha</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>出cai 宗正寺（zhong zeng si） hahaha</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>出cai 宗正寺（zhong zeng si） hahaha</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>出cai 宗正寺（zhong zeng si） hahaha</string>
		</dict>
	</array>
	<key>2</key>
	<array>
		<dict>
			<key>Text</key>
			<string>坤哥的小口音 醉了</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>演技好 长得好 口音忽略</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>我也觉得 厂花演啥都好</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>小口音更可爱了</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>尤其是偶尔的小表情 亮了</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>细节</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>之前的脱身也不错啊</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>一人演两角</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>听说女主也是他钦点的</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>万茜</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>万茜也不错啊  演的也挺好</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>我挺喜欢的</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>撒糖</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>期待ing</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>早更新完了  </string>
		</dict>
		<dict>
			<key>Text</key>
			<string>我也要看看去</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>我也要看看去</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>我也要看看去</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>我也要看看去</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>我也要看看去</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>我也要看看去</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>我也要看看去</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>我也要看看去</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>我也要看看去</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>我也要看看去</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>我也要看看去</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>我也要看看去</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>我也要看看去</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>我也要看看去</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>我也要看看去</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>我也要看看去</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>我也要看看去</string>
		</dict>
	</array>
	<key>3</key>
	<array>
		<dict>
			<key>Text</key>
			<string>好看的</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>好看的</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>好看的</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>好看的</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>好看的</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>好看的</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>好看的</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>好看的</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>好看的</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>好看的</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>好看的</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>好看的</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>好看的</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>好看的</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>好看的</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>好看的</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>好看的</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>好看的</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>好看的</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>好看的</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>好看的</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>好看的</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>好看的</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>好看的</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>好看的</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>好看的</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>好看的</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>好看的</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>好看的</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>好看的</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>好看的</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>好看的</string>
		</dict>
	</array>
	<key>4</key>
	<array>
		<dict>
			<key>Text</key>
			<string>最近有什么电视看</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>最近有什么电视看</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>最近有什么电视看</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>最近有什么电视看</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>最近有什么电视看</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>最近有什么电视看</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>最近有什么电视看</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>最近有什么电视看</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>最近有什么电视看</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>最近有什么电视看</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>最近有什么电视看</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>最近有什么电视看</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>最近有什么电视看</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>最近有什么电视看</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>最近有什么电视看</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>最近有什么电视看</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>最近有什么电视看</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>最近有什么电视看</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>最近有什么电视看</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>最近有什么电视看</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>最近有什么电视看</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>最近有什么电视看</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>最近有什么电视看</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>最近有什么电视看</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>最近有什么电视看</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>最近有什么电视看</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>最近有什么电视看</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>最近有什么电视看</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>最近有什么电视看</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>最近有什么电视看</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>最近有什么电视看</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>最近有什么电视看</string>
		</dict>
	</array>
	<key>5</key>
	<array>
		<dict>
			<key>Text</key>
			<string>小坤坤</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>小坤坤</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>小坤坤</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>小坤坤</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>小坤坤</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>小坤坤</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>小坤坤</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>小坤坤</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>小坤坤</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>小坤坤</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>小坤坤</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>小坤坤</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>小坤坤</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>小坤坤</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>小坤坤</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>小坤坤</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>小坤坤</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>小坤坤</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>小坤坤</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>小坤坤</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>小坤坤</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>小坤坤</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>小坤坤</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>小坤坤</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>小坤坤</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>小坤坤</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>小坤坤</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>小坤坤</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>小坤坤</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>小坤坤</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>小坤坤</string>
		</dict>
		<dict>
			<key>Text</key>
			<string>小坤坤</string>
		</dict>
	</array>
</dict>
</plist>
